/.idea
/out
/.mvn
/_Logz
/target
mvn*
*.log
src/main/resources/application.*
Sender.HE-4349.*
application.properties
Sender.iml
HE-4349.Sender_BUS.start.Java-17.sh
HE-4349.Sender_BUS.start.Java-17.cmd